{% extends "skeleton.html" %}

{% block ng_app %}ng-app="djangular-demo"{% endblock ng_app %}
{% block form %}
<form name="{{form.form_name}}" action="." method="post" accept-charset="utf-8">
    {% csrf_token %}
    {{ form.as_div }}
    <input type="submit" class="btn btn-primary" value="Create a new beer, angular, Go!"></input>
</form>
{% endblock form %}

{% block javascripts %}
    {{ block.super }}
    <script type="text/javascript">
        angular.module('djangular-demo', ['ng.django.forms']);
    </script>
{% endblock javascripts %}